In [1]:
import pandas as pd
import numpy as np
import DataLoad as data

In [2]:
sessions = data.load_sessions_data()
users = data.load_users_data()
products = data.load_products_data()

In [3]:
sessions

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
0,100001,2020-01-15 13:44:51,102.0,1017.0,0,NaN,0,1
1,100001,2020-01-15 13:48:01,102.0,1025.0,0,NaN,0,1
2,100001,2020-01-15 13:49:47,102.0,1030.0,0,NaN,0,1
3,100001,2020-01-15 13:50:34,102.0,1032.0,0,NaN,0,1
4,100001,2020-01-15 13:52:02,102.0,1033.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55105,110273,2020-02-17 03:13:41,301.0,1012.0,15,NaN,0,1
55106,110273,2020-02-17 03:17:18,301.0,1013.0,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1
55108,110275,2020-01-24 18:01:37,301.0,1283.0,0,NaN,0,1
55109,110276,2020-03-26 12:37:51,301.0,1283.0,10,NaN,0,1

In [4]:
def fav_categories(uid, sessions_df, products_df):
    products_id = sessions_df.loc[sessions_df['user_id'] == uid]['product_id']
    fav = products_df.loc[products_df['product_id'].isin(products_id.tolist())]
    fav = fav[fav.columns[3:]]
    return fav.sum()

In [31]:
def favourite_products(users_df, sessions_df, products_df):
    arr = np.zeros(shape =(len(users_df['user_id']), 28))
    j = 0
    for i in users_df['user_id']:
        arr[j] = fav_categories(i, sessions_df, products_df)
        j += 1
    fv =  fav_categories(102, sessions_df, products_df)
    for k in range(len(fv.index.tolist())):
        users_df[fv.index.tolist()[k]] = arr[:, k]
    return users_df

In [27]:
fprod = favourite_products(users, sessions, products)
for k in range(len(fv.index.tolist())):
    users2[fv.index.tolist()[k]] = fprod[:, k]

In [29]:
fav_categories(300, sessions, products)

Telefony i akcesoria                 11
Telefony stacjonarne                  1
Komputery                            21
Drukarki i skanery                    9
Biurowe urządzenia wielofunkcyjne     9
Gry i konsole                        19
Gry na konsole                        9
Gry Xbox 360                          0
Monitory                             10
Monitory LCD                         10
Telefony komórkowe                    2
Gry PlayStation3                      9
Gry komputerowe                      10
Akcesoria telefoniczne                8
Zestawy głośnomówiące                 5
Sprzęt RTV                           14
Video                                11
Odtwarzacze DVD                       2
Tablety i akcesoria                   2
Tablety                               2
Przenośne audio i video               2
Odtwarzacze mp3 i mp4                 2
Telewizory i akcesoria                9
Okulary 3D                            1
Anteny RTV                            8
Zestawy słuchawkowe                   3
Audio                                 1
Słuchawki                             1
dtype: int64

In [28]:
users2

,user_id,name,city,street,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
0,102,Agnieszka Heczko,Kutno,al. Malczewskiego 43,8.0,1.0,19.0,9.0,9.0,29.0,...,0.0,0.0,0.0,0.0,8.0,1.0,7.0,0.0,1.0,1.0
1,103,Sandra Ostapczuk,Radom,ul. Błękitna 352,12.0,1.0,21.0,9.0,9.0,29.0,...,2.0,2.0,2.0,2.0,11.0,1.0,10.0,4.0,1.0,1.0
2,104,Kamila Buza,Warszawa,pl. Orla 450,12.0,1.0,21.0,9.0,9.0,29.0,...,2.0,2.0,2.0,2.0,11.0,1.0,10.0,4.0,1.0,1.0
3,105,Alan Daniec,Gdynia,ul. Reja 326,12.0,1.0,21.0,9.0,9.0,29.0,...,2.0,2.0,2.0,2.0,11.0,1.0,10.0,4.0,1.0,1.0
4,106,Natasza Pasiut,Radom,al. Poziomkowa 43,12.0,1.0,21.0,9.0,9.0,27.0,...,2.0,2.0,2.0,2.0,11.0,1.0,10.0,4.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,297,Igor Gryszkiewicz,Warszawa,plac Pułaskiego 26,12.0,1.0,21.0,9.0,9.0,29.0,...,2.0,2.0,2.0,2.0,11.0,1.0,10.0,4.0,1.0,1.0
196,298,Maurycy Klęk,Radom,aleja Średnia 817,12.0,1.0,21.0,9.0,9.0,29.0,...,2.0,2.0,2.0,2.0,10.0,1.0,9.0,4.0,1.0,1.0
197,299,Ada Malcharek,Mielec,ulica Sikorskiego 14,6.0,0.0,12.0,0.0,0.0,9.0,...,2.0,2.0,2.0,2.0,9.0,0.0,9.0,4.0,1.0,1.0
198,300,Kajetan Kuropatwa,Mielec,ulica Złota 76/64,11.0,1.0,21.0,9.0,9.0,19.0,...,2.0,2.0,2.0,2.0,9.0,1.0,8.0,3.0,1.0,1.0
199,301,Stefan Suchora,Police,aleja Brzechwy 23,12.0,1.0,21.0,9.0,9.0,29.0,...,2.0,2.0,2.0,2.0,11.0,1.0,10.0,4.0,1.0,1.0

In [13]:
users_df = users
sessions_df = sessions
products_df = products

In [15]:
df = pd.DataFrame()
for i in users_df['user_id']:
    fav = fav_categories(i, sessions_df, products_df)
    df.append(fav)

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [16]:
fv = fav_categories(102, sessions, products)
len(fv.index.tolist())

28

In [6]:
fv.values.tolist()

[8,
 1,
 19,
 9,
 9,
 29,
 19,
 10,
 10,
 10,
 2,
 9,
 10,
 5,
 5,
 11,
 10,
 2,
 0,
 0,
 0,
 0,
 8,
 1,
 7,
 0,
 1,
 1]

In [7]:
users[fv.index.tolist()] =

     user_id               name      city                street
0        102   Agnieszka Heczko     Kutno  al. Malczewskiego 43
1        103   Sandra Ostapczuk     Radom      ul. Błękitna 352
2        104        Kamila Buza  Warszawa          pl. Orla 450
3        105        Alan Daniec    Gdynia          ul. Reja 326
4        106     Natasza Pasiut     Radom     al. Poziomkowa 43
..       ...                ...       ...                   ...
195      297  Igor Gryszkiewicz  Warszawa    plac Pułaskiego 26
196      298       Maurycy Klęk     Radom     aleja Średnia 817
197      299      Ada Malcharek    Mielec  ulica Sikorskiego 14
198      300  Kajetan Kuropatwa    Mielec     ulica Złota 76/64
199      301     Stefan Suchora    Police     aleja Brzechwy 23

[200 rows x 4 columns]