In [1]:
import pandas as pd
import numpy as np
import DataLoad as data

In [5]:
sessions = data.load_sessions_data()
users = data.load_users_data()
products = data.load_products_data()

In [3]:
sessions

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
0,100001,2020-01-15 13:44:51,102.0,1017.0,0,NaN,0,1
1,100001,2020-01-15 13:48:01,102.0,1025.0,0,NaN,0,1
2,100001,2020-01-15 13:49:47,102.0,1030.0,0,NaN,0,1
3,100001,2020-01-15 13:50:34,102.0,1032.0,0,NaN,0,1
4,100001,2020-01-15 13:52:02,102.0,1033.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55105,110273,2020-02-17 03:13:41,301.0,1012.0,15,NaN,0,1
55106,110273,2020-02-17 03:17:18,301.0,1013.0,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1
55108,110275,2020-01-24 18:01:37,301.0,1283.0,0,NaN,0,1
55109,110276,2020-03-26 12:37:51,301.0,1283.0,10,NaN,0,1

In [13]:
def fav_category(uid, sessions_df, products_df):
    products_id = sessions_df.loc[sessions_df['user_id'] == uid]['product_id']
    return products_df.loc[products_df['product_id'].isin(products_id.tolist())]

In [14]:
fav_category(102, sessions, products)

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
0,1001,Telefon Siemens Gigaset DA310,58.97,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1002,Kyocera FS-1135MFP,2048.50,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,Kyocera FS-3640MFP,7639.00,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,Fallout 3 (Xbox 360),49.99,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),49.99,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,1289,Philips SDV5225,129.00,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
290,1291,Philips SDV6224,168.79,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
291,1292,Philips SDV8622,189.00,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
292,1293,Hama 44292,44.99,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
317,1318,Plantronics Savi W710,553.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1