In [18]:
import pandas as pd
import numpy as np
import DataLoad as data

In [19]:
sessions_df = data.load_sessions_data()
users_df = data.load_users_data()

In [20]:
cleared_sessions_df = sessions_df.loc[ (~sessions_df['user_id'].isna()) & (~sessions_df['product_id'].isna())]
cleared_sessions_df

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
0,100001,2020-01-15 13:44:51,102.0,1017.0,0,NaN,0,1
1,100001,2020-01-15 13:48:01,102.0,1025.0,0,NaN,0,1
2,100001,2020-01-15 13:49:47,102.0,1030.0,0,NaN,0,1
3,100001,2020-01-15 13:50:34,102.0,1032.0,0,NaN,0,1
4,100001,2020-01-15 13:52:02,102.0,1033.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55104,110273,2020-02-17 03:12:47,301.0,1011.0,15,NaN,0,1
55105,110273,2020-02-17 03:13:41,301.0,1012.0,15,NaN,0,1
55106,110273,2020-02-17 03:17:18,301.0,1013.0,15,NaN,0,1
55108,110275,2020-01-24 18:01:37,301.0,1283.0,0,NaN,0,1
55109,110276,2020-03-26 12:37:51,301.0,1283.0,10,NaN,0,1

In [21]:
def get_offered_discounts(uid):
    return len(sessions_df.loc[(sessions_df['user_id'] == uid) & (sessions_df['offered_discount'] != 0)].index)

def get_buys_with_discount(uid):
    return len(sessions_df.loc[(sessions_df['user_id'] == uid) & (sessions_df['event_type_BUY_PRODUCT'] == 1) & (sessions_df['offered_discount'] != 0)].index)

In [22]:
values = []
users = users_df['user_id']
for id in users:
    if  get_offered_discounts(id) < 2:
        values.append(0)
    else:
        values.append(get_buys_with_discount(id) / (get_offered_discounts(id) - 1))
values

[0.08823529411764706,
 0.14084507042253522,
 0.07960199004975124,
 0.0,
 0.06611570247933884,
 0.013793103448275862,
 0.07692307692307693,
 0.09090909090909091,
 0.07142857142857142,
 0.0,
 0.07303370786516854,
 0.08854166666666667,
 0.06896551724137931,
 0.08333333333333333,
 0.09433962264150944,
 0.02717391304347826,
 0.02631578947368421,
 0.08860759493670886,
 0.02857142857142857,
 0.0,
 0.0784313725490196,
 0.0945945945945946,
 0.05434782608695652,
 0.09523809523809523,
 0.0,
 0.0707070707070707,
 0.09302325581395349,
 0.020833333333333332,
 0.08695652173913043,
 0.031746031746031744,
 0.0,
 0.10666666666666667,
 0.12698412698412698,
 0.08695652173913043,
 0.09202453987730061,
 0.024390243902439025,
 0.028169014084507043,
 0.10344827586206896,
 1.0,
 0.0,
 0.07692307692307693,
 0.042105263157894736,
 0.09649122807017543,
 0.041666666666666664,
 0.0784313725490196,
 0.0979381443298969,
 0.08673469387755102,
 0.061224489795918366,
 0.03125,
 1.0,
 0.0593607305936073,
 0.04081632653061224,
 0.10526315789473684,
 0.10328638497652583,
 0.022222222222222223,
 0.25,
 0.0989010989010989,
 0.03571428571428571,
 0.06763285024154589,
 0.08571428571428572,
 0.05511811023622047,
 0.029411764705882353,
 0.1,
 0.0,
 0.03773584905660377,
 0.0,
 0.10144927536231885,
 0.1005586592178771,
 0.11904761904761904,
 0.10396039603960396,
 0.1,
 0.1125,
 0.0784313725490196,
 0.10714285714285714,
 0.0,
 0.06666666666666667,
 0,
 0.0,
 0.0,
 0.1111111111111111,
 0.027522935779816515,
 0.09292035398230089,
 0.0891089108910891,
 0.02054794520547945,
 0.047619047619047616,
 0.12056737588652482,
 0.09497206703910614,
 0.3333333333333333,
 0.0,
 0.0,
 0.10270270270270271,
 0.09130434782608696,
 0.075,
 0.011627906976744186,
 0.0,
 0.09417040358744394,
 0.0,
 0.0,
 0.0,
 0.10747663551401869,
 0.022988505747126436,
 0.1111111111111111,
 0.03333333333333333,
 0.034482758620689655,
 0.13861386138613863,
 0.028735632183908046,
 0.11363636363636363,
 0.025,
 0.08333333333333333,
 0.08465608465608465,
 0.07547169811320754,
 0.0,
 0.07272727272727272,
 0.029069767441860465,
 0.034482758620689655,
 0.09693877551020408,
 0.1388888888888889,
 0.03773584905660377,
 0.10526315789473684,
 0.09278350515463918,
 0.06818181818181818,
 0.07547169811320754,
 0.078125,
 0.11428571428571428,
 0.13333333333333333,
 0.037037037037037035,
 0.09302325581395349,
 0.10071942446043165,
 0.07627118644067797,
 0.018404907975460124,
 0.06451612903225806,
 0.03225806451612903,
 0.0,
 0.0,
 0.035211267605633804,
 0.0,
 0.0949367088607595,
 0.0,
 0.1,
 0.13333333333333333,
 0.0,
 0.035398230088495575,
 0.11834319526627218,
 0.04054054054054054,
 0.04081632653061224,
 0.0,
 0.05333333333333334,
 0.09574468085106383,
 0.13253012048192772,
 0.0425531914893617,
 0.12903225806451613,
 0.02702702702702703,
 0.0,
 0.025,
 0.10679611650485436,
 0.06666666666666667,
 0.07692307692307693,
 0.0611353711790393,
 0.05583756345177665,
 0.0547945205479452,
 0.0967741935483871,
 0.10909090909090909,
 0.07317073170731707,
 0.4,
 0.0,
 0.13333333333333333,
 0.047058823529411764,
 0.0,
 0.0,
 0.08441558441558442,
 0.03664921465968586,
 0.1044776119402985,
 0.0603448275862069,
 0.041474654377880185,
 0.0,
 0.07692307692307693,
 0.05714285714285714,
 0.16666666666666666,
 0.09012875536480687,
 0.024691358024691357,
 0.0,
 0.0,
 0.039735099337748346,
 0.0,
 0.10404624277456648,
 0.01680672268907563,
 0.1099476439790576,
 0.047619047619047616,
 0.0430622009569378,
 0.08370044052863436,
 0.015625,
 0.05660377358490566,
 0.09009009009009009,
 0.08620689655172414,
 0.0,
 0.09166666666666666,
 0.08542713567839195,
 0.07692307692307693,
 0.058823529411764705,
 0.03431372549019608]

In [23]:
i = 0
selected_users = []
for id in users:
    if values[i] >= 0.1:
        selected_users.append(id)
    i = i + 1
selected_users

[103,
 133,
 134,
 139,
 140,
 151,
 154,
 155,
 157,
 164,
 168,
 169,
 170,
 171,
 172,
 173,
 175,
 181,
 187,
 189,
 192,
 201,
 203,
 206,
 208,
 218,
 220,
 225,
 226,
 229,
 240,
 241,
 244,
 250,
 252,
 256,
 263,
 265,
 267,
 273,
 279,
 286,
 288]