In [1]:
import pandas as pd
import numpy as np
import Model
import BaseModel
import DataLoad as data
from sklearn import datasets, linear_model

In [2]:
users_df = data.load_users_data()
sessions_df = data.load_sessions_data()
products_df = data.load_products_data()

Used data

In [3]:
products_df

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
0,1001,Telefon Siemens Gigaset DA310,58.97,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1002,Kyocera FS-1135MFP,2048.50,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,Kyocera FS-3640MFP,7639.00,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,Fallout 3 (Xbox 360),49.99,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),49.99,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,1315,Jabra Talk,54990000.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
315,1316,Plantronics Voyager Legend,-249.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
316,1317,Plantronics Savi W740,1303.96,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
317,1318,Plantronics Savi W710,553.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
318,1319,HTC HS-S200,14.99,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
sessions_df

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
0,100001,2020-01-15 13:44:51,102.0,1017.0,0,NaN,0,1
1,100001,2020-01-15 13:48:01,102.0,1025.0,0,NaN,0,1
2,100001,2020-01-15 13:49:47,102.0,1030.0,0,NaN,0,1
3,100001,2020-01-15 13:50:34,102.0,1032.0,0,NaN,0,1
4,100001,2020-01-15 13:52:02,102.0,1033.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55105,110273,2020-02-17 03:13:41,301.0,1012.0,15,NaN,0,1
55106,110273,2020-02-17 03:17:18,301.0,1013.0,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1
55108,110275,2020-01-24 18:01:37,301.0,1283.0,0,NaN,0,1
55109,110276,2020-03-26 12:37:51,301.0,1283.0,10,NaN,0,1

In [5]:
users_df

     user_id               name      city                street
0        102   Agnieszka Heczko     Kutno  al. Malczewskiego 43
1        103   Sandra Ostapczuk     Radom      ul. Błękitna 352
2        104        Kamila Buza  Warszawa          pl. Orla 450
3        105        Alan Daniec    Gdynia          ul. Reja 326
4        106     Natasza Pasiut     Radom     al. Poziomkowa 43
..       ...                ...       ...                   ...
195      297  Igor Gryszkiewicz  Warszawa    plac Pułaskiego 26
196      298       Maurycy Klęk     Radom     aleja Średnia 817
197      299      Ada Malcharek    Mielec  ulica Sikorskiego 14
198      300  Kajetan Kuropatwa    Mielec     ulica Złota 76/64
199      301     Stefan Suchora    Police     aleja Brzechwy 23

[200 rows x 4 columns]

Checking prices of products

In [6]:
products_df['price'].describe

<bound method NDFrame.describe of 0            58.97
1          2048.50
2          7639.00
3            49.99
4            49.99
          ...
314    54990000.00
315        -249.00
316        1303.96
317         553.00
318          14.99
Name: price, Length: 319, dtype: float64>

In [7]:
products_df.loc[products_df['price'] == products_df.max()['price']]

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
147,1148,Iniemamocni (PC),169000000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
products_df.loc[products_df['price'] <= 0]

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
66,1067,Nokia 3310,-207.33,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,1069,LCD NEC EA224WMi,-979.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,1071,LCD Philips 241B4LPYCB,-689.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,1083,MAJESTY ANTOLOGIA (PC),-8.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
84,1085,Dishonored (PC),-34.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
85,1086,Disney Universe (PC),-24.90,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
91,1092,Company of Heroes (PC),-34.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
132,1133,Symulator Agrar 2012 (PC),-19.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
196,1197,Hearts of Iron 3 (PC),-15.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
205,1206,Hearts of Iron 2 (PC),-3.59,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
236,1237,Race Injection (PC),-35.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
268,1269,Space Hack (PC),-19.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
271,1272,The Ball (PC),-1.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
299,1300,Vivanco TVA 501,-169.00,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
310,1311,One For All SV 9345,-189.99,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
315,1316,Plantronics Voyager Legend,-249.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
products_df.loc[products_df['price'] > 10000]

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
17,1018,Gears of War 3 (Xbox 360),89990000.0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
59,1060,Wiedźmin 2 Zabójcy królów (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
97,1098,DIRT 3 (PC),16900000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
106,1107,Rise of the Argonauts (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147,1148,Iniemamocni (PC),169000000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
176,1177,Twierdza 3 (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
182,1183,GTA San Andreas (PC),40900000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
183,1184,Men of War Oddział Szturmowy (PC),4990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
243,1244,Hard Reset (PC),9990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
244,1245,Warhammer 40.000 Dawn of War 2 (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
269,1270,Warhammer 40.000 Space Marine (PC),7900000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
306,1307,One For All SV 9033,59990000.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
314,1315,Jabra Talk,54990000.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
products_df.loc[products_df['price'].isna()]

Empty DataFrame
Columns: [product_id, product_name, price, Telefony i akcesoria, Telefony stacjonarne, Komputery, Drukarki i skanery, Biurowe urządzenia wielofunkcyjne, Gry i konsole, Gry na konsole, Gry Xbox 360, Monitory, Monitory LCD, Telefony komórkowe, Gry PlayStation3, Gry komputerowe, Akcesoria telefoniczne, Zestawy głośnomówiące, Sprzęt RTV, Video, Odtwarzacze DVD, Tablety i akcesoria, Tablety, Przenośne audio i video, Odtwarzacze mp3 i mp4, Telewizory i akcesoria, Okulary 3D, Anteny RTV, Zestawy słuchawkowe, Audio, Słuchawki]
Index: []

[0 rows x 31 columns]

Checking offered discounts

In [11]:
sessions_df.loc[(sessions_df['offered_discount'] < 0) | (sessions_df['offered_discount'] > 100)]

Empty DataFrame
Columns: [session_id, timestamp, user_id, product_id, offered_discount, purchase_id, event_type_BUY_PRODUCT, event_type_VIEW_PRODUCT]
Index: []

Checking if sessions data is complete

In [12]:
sessions_df.loc[(sessions_df['user_id'].isna()) | (sessions_df['product_id'].isna())]

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
7,100001,2020-01-15 14:01:12,102.0,NaN,0,NaN,0,1
15,100003,2020-01-20 10:22:12,NaN,1032.0,15,NaN,0,1
48,100008,2020-02-23 07:22:43,NaN,1005.0,0,NaN,0,1
54,100008,2020-02-23 07:34:19,102.0,NaN,0,NaN,0,1
56,100008,2020-02-23 07:40:58,NaN,1013.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55074,110269,2020-03-12 18:39:41,NaN,1047.0,0,NaN,0,1
55096,110272,2020-03-17 05:40:37,301.0,NaN,15,NaN,0,1
55099,110273,2020-02-17 03:03:33,301.0,NaN,15,NaN,0,1
55103,110273,2020-02-17 03:10:17,301.0,NaN,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1

Missing data analysis - indicator regression

In [13]:
sessions_missing_df = sessions_df.copy()
values = sessions_missing_df['user_id'].copy()
values2 = sessions_missing_df['product_id'].copy()
for i in range(values.size):
    if  pd.isna(values[i]):
        values[i] = 1
    else:
        values[i] = 0
    if  pd.isna(values2[i]):
        values2[i] = 1
    else:
        values2[i] = 0
sessions_missing_df['indicator'] = values
sessions_missing_df['indicator2'] = values2
sessions_missing_df = sessions_missing_df.fillna(0)

In [14]:
train = sessions_missing_df.loc[sessions_missing_df.index < 50000]
reg = linear_model.LinearRegression()
reg2 = linear_model.LinearRegression()
reg.fit(train[['session_id', 'product_id', 'offered_discount', 'purchase_id']], train.indicator)
reg2.fit(train[['session_id', 'user_id', 'offered_discount', 'purchase_id']], train.indicator2)

LinearRegression()

In [15]:
X_test = sessions_missing_df.loc[sessions_missing_df.index >= 50000]
tested = 0
tested2 = 0
correct = 0
correct2 = 0
for row, index in X_test.iterrows():
    if index['indicator'] == 1:
        tested += 1
    if index['indicator2'] == 1:
        tested2 += 1
    value = reg.predict([[index['session_id'], index['product_id'], index['offered_discount'], index['purchase_id']]])
    if index['indicator'] == 1 and abs(value - index['indicator']) < 0.2:
        correct += 1
    value = reg2.predict([[index['session_id'], index['user_id'], index['offered_discount'], index['purchase_id']]])
    if index['indicator2'] == 1 and abs(value - index['indicator2']) < 0.2:
        correct2 += 1

Percent of found indicators for missing user_id

In [16]:
correct/tested

0.0

Percent of found indicators for missing product_id

In [17]:
correct2/tested2

0.0

Data division - ~80% train, ~20% test

In [18]:
test = sessions_df.loc[sessions_df['timestamp'] > '2020-3-12']
train = sessions_df.loc[sessions_df['timestamp'] <= '2020-3-12']

Train data

In [19]:
train

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
0,100001,2020-01-15 13:44:51,102.0,1017.0,0,NaN,0,1
1,100001,2020-01-15 13:48:01,102.0,1025.0,0,NaN,0,1
2,100001,2020-01-15 13:49:47,102.0,1030.0,0,NaN,0,1
3,100001,2020-01-15 13:50:34,102.0,1032.0,0,NaN,0,1
4,100001,2020-01-15 13:52:02,102.0,1033.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55104,110273,2020-02-17 03:12:47,301.0,1011.0,15,NaN,0,1
55105,110273,2020-02-17 03:13:41,301.0,1012.0,15,NaN,0,1
55106,110273,2020-02-17 03:17:18,301.0,1013.0,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1
55108,110275,2020-01-24 18:01:37,301.0,1283.0,0,NaN,0,1

Test data

In [20]:
test

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
37,100006,2020-03-20 20:53:48,102.0,1040.0,15,NaN,0,1
38,100006,2020-03-20 20:58:07,102.0,1041.0,15,NaN,0,1
39,100006,2020-03-20 20:59:51,102.0,1042.0,15,NaN,0,1
40,100006,2020-03-20 21:01:59,102.0,1043.0,15,NaN,0,1
41,100006,2020-03-20 21:06:14,102.0,1044.0,15,NaN,0,1
...,...,...,...,...,...,...,...,...
55093,110271,2020-03-25 18:11:52,301.0,1012.0,5,NaN,0,1
55094,110271,2020-03-25 18:15:33,301.0,1013.0,5,NaN,0,1
55095,110272,2020-03-17 05:37:16,301.0,1035.0,15,NaN,0,1
55096,110272,2020-03-17 05:40:37,301.0,NaN,15,NaN,0,1
55109,110276,2020-03-26 12:37:51,301.0,1283.0,10,NaN,0,1

In [21]:
users_df = data.load_users_data()
sessions_df = sessions_df.loc[sessions_df['timestamp'] <= '2020-3-12']
sessions_df = sessions_df.loc[(~sessions_df['user_id'].isna()) | (~sessions_df['product_id'].isna())]
classification_model = Model.ClassificationModel()
classification_model.train(users_df, sessions_df, products_df)
users = classification_model.predict1(users_df, sessions_df, products_df)

Number of users classified as dependent on discounts

In [22]:
sum(users)

117

Number of users classified as not dependent on discounts

In [23]:
len(users) - sum(users)

83

In [24]:
cleared_test_sessions_df = test.loc[(~test['user_id'].isna()) & (~test['product_id'].isna())]
sessions_df = sessions_df.loc[(~sessions_df['user_id'].isna()) & (~sessions_df['product_id'].isna())]

In [25]:
model = Model.RegressionModel(classification_model, sessions_df)
model.set_selected_users(users_df, sessions_df, products_df)
model.train(sessions_df, products_df)

In [26]:
base_model = BaseModel.BaseModel()
base_model.train(products_df, sessions_df)

In [27]:
penalty = 0.0
base_penalty = 0.0
base_count = 0
model_count = 0
base_given = 0
model_given = 0

In [28]:
for i in cleared_test_sessions_df.index.tolist():
    pred = model.predict1(i, cleared_test_sessions_df, products_df)
    base_pred = base_model.predict(cleared_test_sessions_df.loc[cleared_test_sessions_df.index == i]['product_id'].tolist()[0])
    tmp = cleared_test_sessions_df.loc[cleared_test_sessions_df.index == i]
    if pred != 0:
        model_given += 1
        if tmp.iloc[0]['event_type_BUY_PRODUCT'] == 1 & (tmp.iloc[0]['offered_discount'] >= pred[0]):
            model_count += 1
    if base_pred != 0:
        base_given += 1
        if tmp.iloc[0]['event_type_BUY_PRODUCT'] == 1  & (tmp.iloc[0]['offered_discount'] >= base_pred):
            base_count += 1
    if pred >= tmp['offered_discount'].tolist()[0]:
        penalty += pred - tmp['offered_discount'].tolist()[0]
    if base_pred >= tmp['offered_discount'].tolist()[0]:
        base_penalty += base_pred - tmp['offered_discount'].tolist()[0]

Predictions given by base model

In [29]:
base_given

9470

Prediction penalty for base model

In [30]:
base_penalty

77628.77951426817

Accuracy for base model

In [31]:
base_count/base_given

0.7890179514255544

Predictions given by created model

In [32]:
model_given

3560

Prediction penalty for created model

In [33]:
penalty[0]

52749.86583124472

Accuracy for created model

In [34]:
model_count/model_given

0.9146067415730337

With probability classifier

In [35]:
classification_model2 = Model.ProbabilityClassificationModel(sessions_df, users_df)
classification_model2.train()

Number of users classified as dependent on discounts

In [36]:
sum(classification_model2.predict1(0, 0, 0))

48

In [37]:
model2 = Model.RegressionModel(classification_model2, users_df)
model2.set_selected_users(users_df, sessions_df, products_df)
model2.train(sessions_df, products_df)

In [38]:
penalty = 0.0
model_given = 0
model_count = 0

In [39]:
for i in cleared_test_sessions_df.index.tolist():
    pred = model2.predict1(i, cleared_test_sessions_df, products_df)
    tmp = cleared_test_sessions_df.loc[cleared_test_sessions_df.index == i]
    if pred != 0:
        model_given += 1
        if tmp.iloc[0]['event_type_BUY_PRODUCT'] == 1 & (tmp.iloc[0]['offered_discount'] >= pred[0]):
            model_count += 1
    if pred >= tmp['offered_discount'].tolist()[0]:
        penalty += pred - tmp['offered_discount'].tolist()[0]

Predictions given by created model

In [40]:
model_given

2140

Prediction score for created model

In [41]:
penalty[0]

24558.88411363888

Accuracy for created model

In [42]:
model_count/model_given

0.8864485981308411