In [1]:
import pandas as pd

In [2]:
products_data_types = {
    'product_id': 'int64',
    'product_name': 'object',
    'category_path': 'object',
    'price': 'float64'
}

products_df = pd.read_json('../data/products.jsonl', 'records', dtype= products_data_types, lines=True)

In [3]:
sessions_data_types = {
    'session_id': 'int64',
    'timestamp': 'object',
    'user_id': 'int64',
    'product_id': 'int64',
    'event_type': 'object',
    'offered_discount': 'int64',
    'purchase_id': 'int64'
}

sessions_df = pd.read_json('../data/sessions.jsonl', 'records', dtype= sessions_data_types, lines=True)

In [5]:
users_data_types = {
    'user_id': 'int64',
    'name': 'object',
    'city': 'object',
    'street': 'object'
}

users_df = pd.read_json('../data/users.jsonl', 'records', dtype= users_data_types, lines= True)

In [6]:
users_df

     user_id               name      city                street
0        102   Agnieszka Heczko     Kutno  al. Malczewskiego 43
1        103   Sandra Ostapczuk     Radom      ul. Błękitna 352
2        104        Kamila Buza  Warszawa          pl. Orla 450
3        105        Alan Daniec    Gdynia          ul. Reja 326
4        106     Natasza Pasiut     Radom     al. Poziomkowa 43
..       ...                ...       ...                   ...
195      297  Igor Gryszkiewicz  Warszawa    plac Pułaskiego 26
196      298       Maurycy Klęk     Radom     aleja Średnia 817
197      299      Ada Malcharek    Mielec  ulica Sikorskiego 14
198      300  Kajetan Kuropatwa    Mielec     ulica Złota 76/64
199      301     Stefan Suchora    Police     aleja Brzechwy 23

[200 rows x 4 columns]