In [144]:
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model

In [145]:
products_data_types = {
    'product_id': 'int64',
    'product_name': 'object',
    'category_path': 'object',
    'price': 'float64'
}

products_df = pd.read_json('../data/products.jsonl', 'records', dtype= products_data_types, lines=True)
categories = []
for i in products_df['category_path']:
    category = i
    category = category.split(';')
    for j in category:
        if j not in categories:
            categories.append(j)
            
for k in categories:
    products_df[k] = np.where(products_df['category_path'].str.contains(k), 1, 0)

products_df = products_df.drop('category_path', axis= 1)

In [146]:
sessions_data_types = {
    'session_id': 'int64',
    'timestamp': 'object',
    'user_id': 'int64',
    'product_id': 'int64',
    'event_type': 'object',
    'offered_discount': 'int64',
    'purchase_id': 'int64'
}

sessions_df = pd.read_json('../data/sessions.jsonl', 'records', dtype= sessions_data_types, lines=True)
sessions_df['timestamp'] = pd.to_datetime(sessions_df['timestamp'], format= '%Y-%m-%d %H:%M:%S')
sessions_df = pd.get_dummies(sessions_df, columns= ['event_type'])

In [147]:
users_data_types = {
    'user_id': 'int64',
    'name': 'object',
    'city': 'object',
    'street': 'object'
}

users_df = pd.read_json('../data/users.jsonl', 'records', dtype= users_data_types, lines= True)
users_df = pd.get_dummies(users_df, columns= ['city'])

In [148]:
products_df

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
0,1001,Telefon Siemens Gigaset DA310,58.97,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1002,Kyocera FS-1135MFP,2048.50,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1003,Kyocera FS-3640MFP,7639.00,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1004,Fallout 3 (Xbox 360),49.99,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),49.99,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,1315,Jabra Talk,54990000.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
315,1316,Plantronics Voyager Legend,-249.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
316,1317,Plantronics Savi W740,1303.96,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
317,1318,Plantronics Savi W710,553.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
318,1319,HTC HS-S200,14.99,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [149]:
sessions_df

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
0,100001,2020-01-15 13:44:51,102.0,1017.0,0,NaN,0,1
1,100001,2020-01-15 13:48:01,102.0,1025.0,0,NaN,0,1
2,100001,2020-01-15 13:49:47,102.0,1030.0,0,NaN,0,1
3,100001,2020-01-15 13:50:34,102.0,1032.0,0,NaN,0,1
4,100001,2020-01-15 13:52:02,102.0,1033.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55105,110273,2020-02-17 03:13:41,301.0,1012.0,15,NaN,0,1
55106,110273,2020-02-17 03:17:18,301.0,1013.0,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1
55108,110275,2020-01-24 18:01:37,301.0,1283.0,0,NaN,0,1
55109,110276,2020-03-26 12:37:51,301.0,1283.0,10,NaN,0,1

In [150]:
users_df

,user_id,name,street,city_Gdynia,city_Konin,city_Kutno,city_Mielec,city_Police,city_Radom,city_Szczecin,city_Warszawa
0,102,Agnieszka Heczko,al. Malczewskiego 43,0,0,1,0,0,0,0,0
1,103,Sandra Ostapczuk,ul. Błękitna 352,0,0,0,0,0,1,0,0
2,104,Kamila Buza,pl. Orla 450,0,0,0,0,0,0,0,1
3,105,Alan Daniec,ul. Reja 326,1,0,0,0,0,0,0,0
4,106,Natasza Pasiut,al. Poziomkowa 43,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
195,297,Igor Gryszkiewicz,plac Pułaskiego 26,0,0,0,0,0,0,0,1
196,298,Maurycy Klęk,aleja Średnia 817,0,0,0,0,0,1,0,0
197,299,Ada Malcharek,ulica Sikorskiego 14,0,0,0,1,0,0,0,0
198,300,Kajetan Kuropatwa,ulica Złota 76/64,0,0,0,1,0,0,0,0
199,301,Stefan Suchora,aleja Brzechwy 23,0,0,0,0,1,0,0,0

Checking prices of products

In [151]:
products_df['price'].describe

<bound method NDFrame.describe of 0            58.97
1          2048.50
2          7639.00
3            49.99
4            49.99
          ...
314    54990000.00
315        -249.00
316        1303.96
317         553.00
318          14.99
Name: price, Length: 319, dtype: float64>

In [152]:
products_df.loc[products_df['price'] == products_df.max()['price']]

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
147,1148,Iniemamocni (PC),169000000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [153]:
products_df.loc[products_df['price'] <= 0]

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
66,1067,Nokia 3310,-207.33,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,1069,LCD NEC EA224WMi,-979.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,1071,LCD Philips 241B4LPYCB,-689.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,1083,MAJESTY ANTOLOGIA (PC),-8.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
84,1085,Dishonored (PC),-34.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
85,1086,Disney Universe (PC),-24.90,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
91,1092,Company of Heroes (PC),-34.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
132,1133,Symulator Agrar 2012 (PC),-19.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
196,1197,Hearts of Iron 3 (PC),-15.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
205,1206,Hearts of Iron 2 (PC),-3.59,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
236,1237,Race Injection (PC),-35.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
268,1269,Space Hack (PC),-19.99,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
271,1272,The Ball (PC),-1.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
299,1300,Vivanco TVA 501,-169.00,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
310,1311,One For All SV 9345,-189.99,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
315,1316,Plantronics Voyager Legend,-249.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [154]:
products_df.loc[products_df['price'] > 10000]

,product_id,product_name,price,Telefony i akcesoria,Telefony stacjonarne,Komputery,Drukarki i skanery,Biurowe urządzenia wielofunkcyjne,Gry i konsole,Gry na konsole,...,Tablety i akcesoria,Tablety,Przenośne audio i video,Odtwarzacze mp3 i mp4,Telewizory i akcesoria,Okulary 3D,Anteny RTV,Zestawy słuchawkowe,Audio,Słuchawki
17,1018,Gears of War 3 (Xbox 360),89990000.0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
59,1060,Wiedźmin 2 Zabójcy królów (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
97,1098,DIRT 3 (PC),16900000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
106,1107,Rise of the Argonauts (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147,1148,Iniemamocni (PC),169000000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
176,1177,Twierdza 3 (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
182,1183,GTA San Andreas (PC),40900000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
183,1184,Men of War Oddział Szturmowy (PC),4990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
243,1244,Hard Reset (PC),9990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
244,1245,Warhammer 40.000 Dawn of War 2 (PC),34990000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
269,1270,Warhammer 40.000 Space Marine (PC),7900000.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
306,1307,One For All SV 9033,59990000.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
314,1315,Jabra Talk,54990000.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [155]:
products_df.loc[products_df['price'].isna()]

Empty DataFrame
Columns: [product_id, product_name, price, Telefony i akcesoria, Telefony stacjonarne, Komputery, Drukarki i skanery, Biurowe urządzenia wielofunkcyjne, Gry i konsole, Gry na konsole, Gry Xbox 360, Monitory, Monitory LCD, Telefony komórkowe, Gry PlayStation3, Gry komputerowe, Akcesoria telefoniczne, Zestawy głośnomówiące, Sprzęt RTV, Video, Odtwarzacze DVD, Tablety i akcesoria, Tablety, Przenośne audio i video, Odtwarzacze mp3 i mp4, Telewizory i akcesoria, Okulary 3D, Anteny RTV, Zestawy słuchawkowe, Audio, Słuchawki]
Index: []

[0 rows x 31 columns]

Checking offered discounts

In [156]:
sessions_df.loc[(sessions_df['offered_discount'] < 0) | (sessions_df['offered_discount'] > 100)]

Empty DataFrame
Columns: [session_id, timestamp, user_id, product_id, offered_discount, purchase_id, event_type_BUY_PRODUCT, event_type_VIEW_PRODUCT]
Index: []

Checking if sessions data is complete

In [157]:
sessions_df.loc[(sessions_df['user_id'].isna()) | (sessions_df['product_id'].isna())]

,session_id,timestamp,user_id,product_id,offered_discount,purchase_id,event_type_BUY_PRODUCT,event_type_VIEW_PRODUCT
7,100001,2020-01-15 14:01:12,102.0,NaN,0,NaN,0,1
15,100003,2020-01-20 10:22:12,NaN,1032.0,15,NaN,0,1
48,100008,2020-02-23 07:22:43,NaN,1005.0,0,NaN,0,1
54,100008,2020-02-23 07:34:19,102.0,NaN,0,NaN,0,1
56,100008,2020-02-23 07:40:58,NaN,1013.0,0,NaN,0,1
...,...,...,...,...,...,...,...,...
55074,110269,2020-03-12 18:39:41,NaN,1047.0,0,NaN,0,1
55096,110272,2020-03-17 05:40:37,301.0,NaN,15,NaN,0,1
55099,110273,2020-02-17 03:03:33,301.0,NaN,15,NaN,0,1
55103,110273,2020-02-17 03:10:17,301.0,NaN,15,NaN,0,1
55107,110274,2020-02-29 22:45:54,NaN,1001.0,0,NaN,0,1

Missing data analysis

In [ ]:
sessions_missing_df = sessions_df.copy()
values = sessions_missing_df['user_id'].copy()
values2 = sessions_missing_df['product_id'].copy()
for i in range(values.size):
    if  pd.isna(values[i]):
        values[i] = 1
    else:
        values[i] = 0
    if  pd.isna(values2[i]):
        values2[i] = 1
    else:
        values2[i] = 0
sessions_missing_df['indicator'] = values
sessions_missing_df['indicator2'] = values2
sessions_missing_df = sessions_missing_df.fillna(0)

In [ ]:
train = sessions_missing_df.loc[sessions_missing_df.index < 50000]
reg = linear_model.LinearRegression()
reg2 = linear_model.LinearRegression()
reg.fit(train[['session_id', 'product_id', 'offered_discount', 'purchase_id']], train.indicator)
reg2.fit(train[['session_id', 'user_id', 'offered_discount', 'purchase_id']], train.indicator2)

In [ ]:
X_test = sessions_missing_df.loc[sessions_missing_df.index >= 50000]
tested = 0
correct = 0
correct2 = 0
for row, index in X_test.iterrows():
    tested = tested + 1
    value = reg.predict([[index['session_id'], index['product_id'], index['offered_discount'], index['purchase_id']]])
    if index['indicator'] == 1 and abs(value - index['indicator']) < 0.2:
        correct = correct + 1
    value = reg2.predict([[index['session_id'], index['user_id'], index['offered_discount'], index['purchase_id']]])
    if index['indicator2'] == 1 and abs(value - index['indicator2']) < 0.2:
        correct2 = correct2 + 1

Percent of found indicators for missing user_id

In [ ]:
correct/tested

Percent of found indicators for missing product_id

In [ ]:
correct2/tested

correct2/tested

In [158]:
sessions_missing_df = sessions_df.copy()
values = sessions_missing_df['user_id'].copy()
values2 = sessions_missing_df['product_id'].copy()
for i in range(values.size):
    if  pd.isna(values[i]):
        values[i] = 1
    else:
        values[i] = 0
    if  pd.isna(values2[i]):
        values2[i] = 1
    else:
        values2[i] = 0
sessions_missing_df['indicator'] = values
sessions_missing_df['indicator2'] = values2
sessions_missing_df = sessions_missing_df.fillna(0)

In [159]:
train = sessions_missing_df.loc[sessions_missing_df.index < 50000]
reg = linear_model.LinearRegression()
reg2 = linear_model.LinearRegression()
reg.fit(train[['session_id', 'product_id', 'offered_discount', 'purchase_id']], train.indicator)
reg2.fit(train[['session_id', 'user_id', 'offered_discount', 'purchase_id']], train.indicator2)

LinearRegression()

In [160]:
X_test = sessions_missing_df.loc[sessions_missing_df.index >= 50000]
tested = 0
correct = 0
correct2 = 0
for row, index in X_test.iterrows():
    tested = tested + 1
    value = reg.predict([[index['session_id'], index['product_id'], index['offered_discount'], index['purchase_id']]])
    if index['indicator'] == 1 and abs(value - index['indicator']) < 0.2:
        correct = correct + 1
    value = reg2.predict([[index['session_id'], index['user_id'], index['offered_discount'], index['purchase_id']]])
    if index['indicator2'] == 1 and abs(value - index['indicator2']) < 0.2:
        correct2 = correct2 + 1

Percent of found indicators for missing user_id

In [161]:
correct/tested

0.0

Percent of found indicators for missing product_id

In [162]:
correct2/tested

0.0