In [1]:
import pandas as pd

In [2]:
products_data_types = {
    'product_id': 'int64',
    'product_name': 'object',
    'category_path': 'object',
    'price': 'float64'
}

products_df = pd.read_json('../data/products.jsonl', 'records', dtype= products_data_types, lines=True)

In [3]:
sessions_data_types = {
    'session_id': 'int64',
    'timestamp': 'object',
    'user_id': 'int64',
    'product_id': 'int64',
    'event_type': 'object',
    'offered_discount': 'int64',
    'purchase_id': 'int64'
}

sessions_df = pd.read_json('../data/sessions.jsonl', 'records', dtype= sessions_data_types, lines=True)

In [5]:
users_data_types = {
    'user_id': 'int64',
    'name': 'object',
    'city': 'object',
    'street': 'object'
}

users_df = pd.read_json('../data/users.jsonl', 'records', dtype= users_data_types, lines= True)

In [10]:
products_df

,product_id,product_name,category_path,price
0,1001,Telefon Siemens Gigaset DA310,Telefony i akcesoria;Telefony stacjonarne,58.97
1,1002,Kyocera FS-1135MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,2048.50
2,1003,Kyocera FS-3640MFP,Komputery;Drukarki i skanery;Biurowe urządzeni...,7639.00
3,1004,Fallout 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99
...,...,...,...,...
314,1315,Jabra Talk,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,54990000.00
315,1316,Plantronics Voyager Legend,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,-249.00
316,1317,Plantronics Savi W740,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,1303.96
317,1318,Plantronics Savi W710,Sprzęt RTV;Audio;Słuchawki,553.00
318,1319,HTC HS-S200,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,14.99

In [11]:
sessions_df

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,100001,2020-01-15 13:44:51,102.0,1017.0,VIEW_PRODUCT,0,NaN
1,100001,2020-01-15 13:48:01,102.0,1025.0,VIEW_PRODUCT,0,NaN
2,100001,2020-01-15 13:49:47,102.0,1030.0,VIEW_PRODUCT,0,NaN
3,100001,2020-01-15 13:50:34,102.0,1032.0,VIEW_PRODUCT,0,NaN
4,100001,2020-01-15 13:52:02,102.0,1033.0,VIEW_PRODUCT,0,NaN
...,...,...,...,...,...,...,...
55105,110273,2020-02-17 03:13:41,301.0,1012.0,VIEW_PRODUCT,15,NaN
55106,110273,2020-02-17 03:17:18,301.0,1013.0,VIEW_PRODUCT,15,NaN
55107,110274,2020-02-29 22:45:54,NaN,1001.0,VIEW_PRODUCT,0,NaN
55108,110275,2020-01-24 18:01:37,301.0,1283.0,VIEW_PRODUCT,0,NaN
55109,110276,2020-03-26 12:37:51,301.0,1283.0,VIEW_PRODUCT,10,NaN

In [12]:
users_df

     user_id               name      city                street
0        102   Agnieszka Heczko     Kutno  al. Malczewskiego 43
1        103   Sandra Ostapczuk     Radom      ul. Błękitna 352
2        104        Kamila Buza  Warszawa          pl. Orla 450
3        105        Alan Daniec    Gdynia          ul. Reja 326
4        106     Natasza Pasiut     Radom     al. Poziomkowa 43
..       ...                ...       ...                   ...
195      297  Igor Gryszkiewicz  Warszawa    plac Pułaskiego 26
196      298       Maurycy Klęk     Radom     aleja Średnia 817
197      299      Ada Malcharek    Mielec  ulica Sikorskiego 14
198      300  Kajetan Kuropatwa    Mielec     ulica Złota 76/64
199      301     Stefan Suchora    Police     aleja Brzechwy 23

[200 rows x 4 columns]

In [20]:
products_df.loc[products_df['price'] == products_df.max()['price']]

     product_id      product_name                  category_path        price
147        1148  Iniemamocni (PC)  Gry i konsole;Gry komputerowe  169000000.0

In [23]:
products_df.loc[products_df['price'] <= 0]

,product_id,product_name,category_path,price
66,1067,Nokia 3310,Telefony i akcesoria;Telefony komórkowe,-207.33
68,1069,LCD NEC EA224WMi,Komputery;Monitory;Monitory LCD,-979.00
70,1071,LCD Philips 241B4LPYCB,Komputery;Monitory;Monitory LCD,-689.00
82,1083,MAJESTY ANTOLOGIA (PC),Gry i konsole;Gry komputerowe,-8.99
84,1085,Dishonored (PC),Gry i konsole;Gry komputerowe,-34.99
85,1086,Disney Universe (PC),Gry i konsole;Gry komputerowe,-24.90
91,1092,Company of Heroes (PC),Gry i konsole;Gry komputerowe,-34.99
132,1133,Symulator Agrar 2012 (PC),Gry i konsole;Gry komputerowe,-19.99
196,1197,Hearts of Iron 3 (PC),Gry i konsole;Gry komputerowe,-15.99
205,1206,Hearts of Iron 2 (PC),Gry i konsole;Gry komputerowe,-3.59
236,1237,Race Injection (PC),Gry i konsole;Gry komputerowe,-35.99
268,1269,Space Hack (PC),Gry i konsole;Gry komputerowe,-19.99
271,1272,The Ball (PC),Gry i konsole;Gry komputerowe,-1.00
299,1300,Vivanco TVA 501,Sprzęt RTV;Video;Telewizory i akcesoria;Anteny...,-169.00
310,1311,One For All SV 9345,Sprzęt RTV;Video;Telewizory i akcesoria;Anteny...,-189.99
315,1316,Plantronics Voyager Legend,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,-249.00

In [28]:
products_df.loc[products_df['price'] > 10000]

,product_id,product_name,category_path,price
17,1018,Gears of War 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,89990000.0
59,1060,Wiedźmin 2 Zabójcy królów (PC),Gry i konsole;Gry komputerowe,34990000.0
97,1098,DIRT 3 (PC),Gry i konsole;Gry komputerowe,16900000.0
106,1107,Rise of the Argonauts (PC),Gry i konsole;Gry komputerowe,34990000.0
147,1148,Iniemamocni (PC),Gry i konsole;Gry komputerowe,169000000.0
176,1177,Twierdza 3 (PC),Gry i konsole;Gry komputerowe,34990000.0
182,1183,GTA San Andreas (PC),Gry i konsole;Gry komputerowe,40900000.0
183,1184,Men of War Oddział Szturmowy (PC),Gry i konsole;Gry komputerowe,4990000.0
243,1244,Hard Reset (PC),Gry i konsole;Gry komputerowe,9990000.0
244,1245,Warhammer 40.000 Dawn of War 2 (PC),Gry i konsole;Gry komputerowe,34990000.0
269,1270,Warhammer 40.000 Space Marine (PC),Gry i konsole;Gry komputerowe,7900000.0
306,1307,One For All SV 9033,Sprzęt RTV;Video;Telewizory i akcesoria;Anteny...,59990000.0
314,1315,Jabra Talk,Telefony i akcesoria;Akcesoria telefoniczne;Ze...,54990000.0

In [45]:
products_df.loc[products_df['price'].isna()]

Empty DataFrame
Columns: [product_id, product_name, category_path, price]
Index: []

In [36]:
sessions_df.loc[(sessions_df['offered_discount'] < 0) | (sessions_df['offered_discount'] > 100)]

Empty DataFrame
Columns: [session_id, timestamp, user_id, product_id, event_type, offered_discount, purchase_id]
Index: []

In [49]:
sessions_df.loc[(sessions_df['user_id'].isna()) | (sessions_df['product_id'].isna())]

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
7,100001,2020-01-15 14:01:12,102.0,NaN,VIEW_PRODUCT,0,NaN
15,100003,2020-01-20 10:22:12,NaN,1032.0,VIEW_PRODUCT,15,NaN
48,100008,2020-02-23 07:22:43,NaN,1005.0,VIEW_PRODUCT,0,NaN
54,100008,2020-02-23 07:34:19,102.0,NaN,VIEW_PRODUCT,0,NaN
56,100008,2020-02-23 07:40:58,NaN,1013.0,VIEW_PRODUCT,0,NaN
...,...,...,...,...,...,...,...
55074,110269,2020-03-12 18:39:41,NaN,1047.0,VIEW_PRODUCT,0,NaN
55096,110272,2020-03-17 05:40:37,301.0,NaN,VIEW_PRODUCT,15,NaN
55099,110273,2020-02-17 03:03:33,301.0,NaN,VIEW_PRODUCT,15,NaN
55103,110273,2020-02-17 03:10:17,301.0,NaN,VIEW_PRODUCT,15,NaN
55107,110274,2020-02-29 22:45:54,NaN,1001.0,VIEW_PRODUCT,0,NaN